# Ignore system directories
/Application Data/
/Cookies/
/Local Settings/
/My Documents/
/NetHood/
/PrintHood/
/Recent/
/SendTo/
/Start Menu/
/Templates/
/AppData/
/Downloads/
/Documents/
/Videos/
/Music/
/Pictures/
/Desktop/
/OneDrive/
/node_modules/
/.vscode/
/.idea/
/.gradle/
/.docker/
/.kube/
/.m2/
/.minikube/
/.VirtualBox/
/.android/
/.aws/
